/* nav css */
#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(255, 255, 255, 1);
}
#custom-bootstrap-menu.navbar-default {
    font-size: 18px;
    background-color: rgba(244, 79, 78, 1);
    border-width: 0px;
    border-radius: 0px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(0, 0, 0, 1);
    background-color: rgba(244, 79, 78, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(235, 27, 23, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(235, 27, 23, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #eb1b17;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #eb1b17;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #eb1b17;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #f44f4e;
}
/* end nav css
        begin
    my added css */

.jumbotron {
   background-color: #f44f4e;
   color:white;
}

.center {
    text-align: center;
}

.marketing h4 {
  color:#f44f4e;
}

.footer {
  background-color: #f44f4e;
  color:white;   
}


.jumbotron h2{
  margin-top:-10px;
}
.jumbotron h1{
    font-size: 5em;
}
.footer {
border-radius: 5px;
    padding: 15px 5px 5px 5px;
}