#chickenSection{
	background-color: #72BD84;
	padding: 10px;
	height: 1000px;

}
#header-nav{
	background-color: #B2E1BD;
}
body{
	background-color: #B7E9E5;
}
#nav-list{
	background-color: #E4E9E5;
	border-right: 1px solid black;
	border-left: 1px solid black;

}
#menuTitle{
	padding: 15px 15px 20px;
}
.menuItem{
	border-bottom: 1px solid black;
}
.chicken{
	border-top: 1px solid black;
}


@media (max-width: 767px) {
  .container{
  	width: 90%;
  }
}
}
