#chickenSection{
	background-color: #72BD84;
	padding: 30px;
}
#header-nav{
	background-color: #B2E1BD;
}
body{
	background-color: #B7E9E5;
}
#nav-list{
	background-color: #E4E9E5;
}
#menuTitle{
	padding: 15px 15px 20px;
}